html {
    scroll-behavior: smooth;
}

code, pre {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
    color: #e83e8c;
    font-size: 87.5%;
}

.container-fluid {
    padding-left: 30px;
}

.text-red {
    color: red;
}

.new-project h3 {
    color: rgb(173, 23, 43);
}

#btn-sommaire {
    position: fixed;
    left: 50%;
    bottom: 15px;
}

#btn-sommaire a {
    text-decoration: none;
    color: white;
}

.inCaseOfError, .important-notice, .bonus-notice {
    background: rgb(195, 196, 221);
    border-radius: 20px;
    padding: 5px;
}

.important-notice {
    background: rgb(224, 106, 185);
}

.bonus-notice {
    background: rgb(255, 243, 72);
}